{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'edit' post.id %}" method="post">
    {% csrf_token %}

    {{ form }}

    <div class="controls">
      <button class="btn btn-success" type="submit">Save</button>

      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#confirmDelete"
      >
        Delete
      </button>
    </div>
  </form>

  <!-- Modal, triggered by delete button up top -->
  <div
    class="modal fade"
    id="confirmDelete"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="confirmDeleteLabel">Confirm Deletion of Post</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this post?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>

          <form action="{% url 'delete' post.id %}" method="post">
            {% csrf_token %}
            <button
              type="submit"
              class="btn btn-danger"
              onclick="return true;"
            >Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
